@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.teste{
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigbox{
    position: fixed;
    top: 14%;
    left: 15%;
    z-index: 2;
    width: 800px;
    height: 450px;
    background-color: #ffffff;
    border-radius: 5px;
}
.livros{
    height: 450px;
    width: 450px;
    margin-left: 450px;
}
.logo{
    position: relative;
    top: 25px;
    left: 60px;
    width: 50px;
    height: 50px;
}
.infos{
    bottom: 454px;
    left: 0px;
    position: relative;
    width: 450px;
    height: 450px;
    display: grid;
    border-radius: 5px;
}
.titulo{
    position: relative;
    color: black;
    left: 174px;
    top: 55px;
}

.areanome{
    margin-top: 45px;
    width: 358px;
    height: 55px;
    background-color:  #F3F4F6;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 50px;
}
.subtitulo{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
.Nome{
    width: 200px;
    height: 30px;
    border: none;
    background-color: #F3F4F6;
    outline: none;
}
.areaemail{
    width: 358px;
    height: 55px;
    background-color:  #F3F4F6;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 50px;
}
.Email{
    width: 200px;
    height: 30px;
    border: none;
    background-color: #F3F4F6;
    outline: none;
}
.areasenha{
    width: 358px;
    height: 55px;
    background-color:  #F3F4F6;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 50px;
}
.Senha{
    width: 200px;
    height: 30px;
    border: none;
    background-color: #F3F4F6;
    outline: none;
}
.login{
    width: 358px;
    height: 45px;
    margin-left: 50px;
    border: none;
    background-color: #37192C;
    color: white;
    font-size: 19px;
    border-radius: 5px;
    box-shadow: 0px 8px 17px 0px #00BDD626;
}
.esconderArea{
    width: 25px;
    height: 25px;
    /* background-color: yellow; */
    margin-left: 108px;
    border: none;
}
.esconder{
    width: 20px;
    width: 20px;
}
.centralizandoSenha{
    justify-content: center;
    display: flex;
    align-items: center;
}
.cad{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
}
.centralizando{
    margin-top: -15px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.carregador{
   position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: hidden;
   
}
.loader {
    --background: linear-gradient(135deg,#572746 , #682E53);
    --shadow: rgba(34,3,21,1.00);
    --text: #ffffff;
    --page: rgba(255, 255, 255, 0.5);
    --page-fold: rgba(255, 255, 255, 1);
    --duration: 3s;
    width: 200px;
    height: 140px;
    position: relative;
  }
 
  .loader:before, .loader:after {
    --r: -6deg;
    content: "";
    position: absolute;
    bottom: 8px;
    width: 120px;
    top: 80%;
    box-shadow: 10px 20px 18px var(--shadow);
    transform: rotate(var(--r));
  }
 
  .loader:before {
    left: 4px;
  }
 
  .loader:after {
    --r: 6deg;
    right: 4px;
  }
 
  .loader div {
    width: 100%;
    height: 100%;
    border-radius: 13px;
    position: relative;
    z-index: 1;
    perspective: 600px;
    box-shadow: 0 4px 6px var(--shadow);
    background-image: var(--background);
  }
 
  .loader div ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
  }
 
  .loader div ul li {
    --r: 180deg;
    --o: 0;
    --c: var(--page);
    position: absolute;
    top: 10px;
    left: 10px;
    transform-origin: 100% 50%;
    color: var(--c);
    opacity: var(--o);
    transform: rotateY(var(--r));
    -webkit-animation: var(--duration) ease infinite;
    animation: var(--duration) ease infinite;
  }
 
  .loader div ul li:nth-child(2) {
    --c: var(--page-fold);
    -webkit-animation-name: page-2;
    animation-name: page-2;
  }
 
  .loader div ul li:nth-child(3) {
    --c: var(--page-fold);
    -webkit-animation-name: page-3;
    animation-name: page-3;
  }
 
  .loader div ul li:nth-child(4) {
    --c: var(--page-fold);
    -webkit-animation-name: page-4;
    animation-name: page-4;
  }
 
  .loader div ul li:nth-child(5) {
    --c: var(--page-fold);
    -webkit-animation-name: page-5;
    animation-name: page-5;
  }
 
  .loader div ul li svg {
    width: 90px;
    height: 120px;
    display: block;
  }
 
  .loader div ul li:first-child {
    --r: 0deg;
    --o: 1;
  }
 
  .loader div ul li:last-child {
    --o: 1;
  }
 
  .loader span {
    display: block;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 2;
    position: absolute;
    margin-top: 20px;
    text-align: center;
    color: var(--text);
  }
 
  @keyframes page-2 {
    0% {
      transform: rotateY(180deg);
      opacity: 0;
    }
 
    20% {
      opacity: 1;
    }
 
    35%, 100% {
      opacity: 0;
    }
 
    50%, 100% {
      transform: rotateY(0deg);
    }
  }
 
  @keyframes page-3 {
    15% {
      transform: rotateY(180deg);
      opacity: 0;
    }
 
    35% {
      opacity: 1;
    }
 
    50%, 100% {
      opacity: 0;
    }
 
    65%, 100% {
      transform: rotateY(0deg);
    }
  }
 
  @keyframes page-4 {
    30% {
      transform: rotateY(180deg);
      opacity: 0;
    }
 
    50% {
      opacity: 1;
    }
 
    65%, 100% {
      opacity: 0;
    }
 
    80%, 100% {
      transform: rotateY(0deg);
    }
  }
 
  @keyframes page-5 {
    45% {
      transform: rotateY(180deg);
      opacity: 0;
    }
 
    65% {
      opacity: 1;
    }
 
    80%, 100% {
      opacity: 0;
    }
 
    95%, 100% {
      transform: rotateY(0deg);
    }
  }