@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.teste{
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bigbox{
    position: fixed;
    top: 14%;
    left: 15%;
    z-index: 2;
    width: 450px;
    height: 450px;
    background-color: #ffffff;
    border-radius: 5px 0px 0px 5px;
    margin-left: 7vw;
    margin-right: 7vw;

}
.livros{
    height: 450px;
    width: 20vw;
    margin-left: 450px;
    border-radius: 0px 5px 5px 0px;
    object-fit: cover;
}
.logo{
    position: relative;
    top: 25px;
    left: 60px;
    width: 50px;
    height: auto;
}
.infos{
    bottom: 454px;
    left: 0px;
    position: relative;
    width: 450px;
    height: 450px;
    display: inline-grid;
    border-radius:5px 0px 0px 5px;
}
.titulo{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.areanome{
    margin-top: 45px;
    width: 358px;
    height: 55px;
    background-color:  #F3F4F6;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 50px;
}
.subtitulo{
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
.Nome{
    width: 200px;
    height: 30px;
    border: none;
    background-color: #F3F4F6;
    outline: none;
}
.areaemail{
    width: 358px;
    height: 55px;
    background-color:  #F3F4F6;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 50px;
}
.Email{
    width: 200px;
    height: 30px;
    border: none;
    background-color: #F3F4F6;
    outline: none;
}
.areasenha{
    width: 358px;
    height: 55px;
    background-color:  #F3F4F6;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 50px;
}
.Senha{
    width: 200px;
    height: 30px;
    border: none;
    background-color: #F3F4F6;
    outline: none;
}
.login{
    width: 358px;
    height: 45px;
    margin-left: 50px;
    border: none;
    background-color: #37192C;
    color: white;
    font-size: 19px;
    border-radius: 5px;
    box-shadow: 0px 8px 17px 0px #00BDD626;
    display: flex;
    align-items: center;
    justify-content: center;
}
.esconderArea{
    width: 25px;
    height: 25px;
    /* background-color: yellow; */
    margin-left: 108px;
    border: none;
}
.esconder{
    width: 20px;
    width: 20px;
}
.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .book-wrapper {
    width: 150px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }
  .book {
    width: 100%;
    height: auto;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.137));
  }
  .book-wrapper .book-page {
    width: 50%;
    height: auto;
    position: absolute;
    animation: paging 0.15s linear infinite;
    transform-origin: left;
  }
  @keyframes paging {
    0% {
      transform: rotateY(0deg) skewY(0deg);
    }
    50% {
      transform: rotateY(90deg) skewY(-20deg);
    }
    100% {
      transform: rotateY(180deg) skewY(0deg);
    }
  }

  @media (max-width: 770px) {
    .livros {
      margin-left: 0;
      display: block;
      width: 0px;
    }

    .bigbox {
        border-radius: 5px 5px 5px 5px;
        margin-left: 2vw;
        margin-right: 5vw;
    }
  }

  @media (max-width: 600px) {
    .bigbox {
      border-radius: 5px 5px 5px 5px;
      margin-left: -4vw;
      margin-right: 5vw;
    }
  }

  @media (max-width: 500px) {
    .bigbox {
      border-radius: 5px 5px 5px 5px;
      margin-left: -4vw;
      margin-right: 5vw;
      width: 450px;
      padding: 0px;
 
    }
  }

  @media (max-width: 1000px) {
    .bigbox {
      border-radius: 5px 5px 5px 5px;
      margin-left: -4vw;
      margin-right: 5vw;
    }
  }