@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}

:root {
  --branco-1000: #fff;
  --cinza-500:   #838383;
  --preto-100:   #000;
  --preto-200:   #0A0A0A;
  --vermelho-300:#FF1111;
  --vermelho-vinho-100: #220315;
  --vinho-100:   #220315;
  --amarelo-100: #D49305;
  --amarelo-200: #FEA304;    
}